# === Python ===
__pycache__/
*.pyc

# === Jupyter ===
.ipynb_checkpoints/

# === Conda / Anaconda ===
anaconda_projects/
*.db

# === External datasets / source repos ===
the-building-data-genome-project/

# === OS junk ===
.DS_Store
Thumbs.db
